/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/

@use "buffs";
@use "highlights";

article {
    max-width: 30cm;
    margin: auto;
}

mark {
    color: inherit;
    background-color: inherit;
    padding: 0;
}

.unconfirmed::before {
    content: 'Unconfirmed:';
    color: var(--c4);
    text-decoration: underline 1px;
    padding-right: 0.5ch;
}

.unconfirmed {
    font-style: italic;
}

.tooltip {
    max-width: 9cm;
    padding: .3rem .5rem .3rem .5rem;
    border-top: 2px solid var(--a1);
}

.tooltip hr {
    margin: 0.3em -0.25em;
}