/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/

@use "buffs";
@use "collapse";
@use "highlights";
@use "index";

article {
    max-width: 30cm;
    margin: auto;
}

table {
    width: unset;
}

mark {
    color: inherit;
    background-color: inherit;
    padding: 0;
}

.unconfirmed {
    font-style: italic;

    ::before {
        content: 'Unconfirmed:';
        color: var(--c4);
        text-decoration: underline 1px;
        padding-right: 0.5ch;
    }
}

.tooltip {
    max-width: 9cm;
    padding: .4rem .5rem;
    border-top: 2px solid var(--hl);
    border-bottom: 1px solid var(--c4);
    border-left: 1px solid var(--c4);
    border-right: 1px solid var(--c4);

    hr {
        margin: 0.3rem -0.20rem;
    }
}

table {
    margin: 0 auto;
}

th {
    border-bottom: solid var(--hl) var(--bw);
}

tr {
    border-left: var(--bw) solid var(--c3);
    border-right: var(--bw) solid var(--c3);

    thead & {
        background-color: var(--c1);
    }
}

@counter-style decimal-wide {
    system: numeric;
    symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
    prefix: "";
    suffix: ". \2009";
}

li {
    li {
        margin-bottom: 0.2rem;
    }

    ul,
    ol {
        margin: 0.35rem 0;
    }
}

main hr {
    border-top: 1px solid var(--hl);
    margin: .9rem .3rem;
}

.footnotes-list {
    font-size: 0.82em;
    padding-left: 2em;
    padding-right: 3em;
    list-style: decimal-wide;

    >li::marker {
        font-size: 1.00em;
        font-weight: 600;
    }

    li {
        margin-block: 0.7em;
    }

    li p {
        margin-block: 0.28em;
        font-size: inherit;
    }
}