.hl-fire,
.hl-elec,
.hl-water,
.hl-ice,
.hl-earth,
.hl-wind,
.hl-light,
.hl-dark,
.hl-cast,
.hl-tank,
.hl-dps,
.hl-healer,
.hl-support {
    font-weight: bold;
}

.hl-elec {
    color: rgb(170, 39, 187);
}

.hl-fire {
    color: rgb(212, 54, 14);
}

.hl-ice {
    color: rgb(156, 206, 220);
}

.hl-light {
    color: rgb(222, 210, 138);
}

.hl-dark {
    color: rgb(92, 23, 109);
}

.hl-tank {
    color: rgb(45, 58, 128);
}

.hl-dps {
    color: rgb(115, 40, 40);
}

.hl-healer {
    color: rgb(52, 102, 36);
}

.hl-support {
    color: rgb(48, 80, 92);
}

.hl-cast {
    color: var(--f2);
}


// This assumes we are using the light/dark switcher defaulting to dark.
.hl-mob {
    font-weight: 200;

    .switch & {
        font-weight: 300;
    }
}