.hl-elec {
    font-weight: bold;
    color: rgb(170, 39, 187);
}

.hl-fire {
    font-weight: bold;
    color: rgb(212, 54, 14);
}

.hl-tank {
    font-weight: bold;
    color: rgb(45, 58, 128);
}

.hl-dps {
    font-weight: bold;
    color: rgb(115, 40, 40);
}

.hl-healer {
    font-weight: bold;
    color: rgb(52, 102, 36);
}

.hl-support {
    font-weight: bold;
    color: rgb(48, 80, 92);
}